# Fichiers de configuration sensibles
/config/secure/
.env

# Dépendances
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'environnement de développement
.vscode/
.idea/
*.sublime-project
*.sublime-workspace